body
{
  background-image: url(cute-brown-aesthetic-abstract-minimal-background-perfect-wallpaper-backdrop-postcard-background_565280-444.webp);
}
#p
{
    margin-top: 20px;
    margin-bottom: 20px;
}
#h1
{
    display: none;
    margin-top: 20px;
    margin-bottom: 20px;
}